.button {
	font: inherit;
	border: 1px solid #14213d;
	background: #14213d;
	color: white;
	padding: 0.25rem 1rem;
	cursor: pointer;
	box-shadow: 1px 1px 1px #14213d;
}

.button:hover,
.button:active {
	background: #1f3461;
	border-color: #1f3461;
}

.button:active {
	box-shadow: none;
}

.button:focus {
	outline: none;
}