.product {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	max-width: 20rem;
    
}

.product img {
	max-width: 10rem;
}

.product__details {
	padding: 1rem;
    align-self: flex-start;
    display: flex;
	flex-direction: column;
    align-items: flex-start;
}

.product__details__category {
	font-weight: 500;
    font-size: .9rem;
	color: #9494a1;
}

.product__details__title {
	font-size: 1.4rem;
	font-weight: 600;
}

.product__details__price {
	color: rgb(45, 45, 201);
	font-weight: 500;
}
