.nav {
	color: #292c39;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 15rem;
}

.logo {
	font-size: 1.8rem;
	letter-spacing: 4px;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 900;
	cursor: pointer;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 2rem;
}

a {
	color: #292c39; /* 406bd0 */
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2rem;
}

.cart-auth {
	display: flex;
	gap: 2rem;
}

.cart-btn {
	padding: 0 2rem;
	cursor: pointer;
}
